*{
            box-sizing: border-box;
            margin: 0;
            padding: 0;        
        }
        .hide{
            display: none;
        }
        .car{
            width: 50px;
            height: 110px;
            background-color: transparent;
            position: absolute;
            bottom: 120px;
            background-image: url(Media/car.png);
            background-size: cover;
        }
        .GameArea{
            width: 400px;
            height: 100vh;
            background-color: rgb(29, 26, 26);
            margin: auto;
            position: relative;
            overflow: hidden;
            border-left: 10px dashed white;
            border-right:10px dashed white;
        }
        .lines{
            width: 10px;
            height: 100px;
            background: white;
            position: absolute;
            margin-left: 195px;
        }
        .background{
            background-image: url(Media/bg.jpg);
            background-size: cover;
        }
        .other{
            width: 50px;
            height: 110px;
            background-color: transparent;
            position: absolute;
            bottom: 120px;
            background-image: url(Media/ecar.png);
            background-size: cover;
        }

        .otherc{
             width: 60px;
            height: 60px;
            background-color: transparent;
            position: absolute;
            bottom: 120px;
            background-image: url(Media/orb.png);
            background-size: cover;
            
        }
    

        .Score{
            position: absolute;
            top: 30px;
            left: 50px;
            text-align: center;
            padding-top: 23px;
            font-size: 30px;
            line-height: 20px;
            background-color: #3A1D0D;
            color: white;
            width: 200px;
            height: 65px;
            border-radius: 15px;
        }
        
        .StartScreen{
            position: absolute;
            background-color: #3A1D0D ;
            color: white;
            z-index: 1;
            font-family: 'Redressed';
            text-align: center;
            font-size: 30px;
            width: 25%;
            height: 200px;
            cursor: pointer;
            border-radius: 15px;
            margin-left: 37.5%;
            margin-top: 15%;

        }
        button{
            padding: 10px;
            text-align: center;
            background-color: black;
            color: white;
        }